
html{
    font-size: 62.5%;  /* 16px*62.5 = 10px = 1rem, rem is better for different sized browsers*/
    
}

body{
    font-family: 'Rubik', sans-serif;
    height: 100vh; 
    margin: 0; 
}

.grid-container{
    display: grid;
    grid-template-areas:"header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%; 
}

.header{
    grid-area: header;
    display: flex; 
    color: #ffffff;
    justify-content: space-between;
    background-color: #17202A; 
    align-items:center;
    padding: 0.5rem; 
}


.main{
    grid-area: main;
    font-size: 2.5rem;
}

.footer{
    grid-area: footer;
    background-color: #17202A;
    color: #ffffff;
    display:flex; 
    justify-content: center;
    align-items: center;
}

.brand a{ 
    color: #ffffff;
    font-size: 2.5rem;
    font-weight:bold ;
    text-decoration:none;
    font-family: 'Bungee';
    font-weight: lighter;
    
}
    

.header-links a{
    color: #ffffff;
    text-decoration:none;
    font-size: 1.5rem;
}

a{
    text-decoration:none;
}

a:hover{
    color:#00f7ff67; 
}

/* Homescreen */ 

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-name{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.product-name a{
    color: black;
}

.product-brand{
    font-size: 1.2rem ;
    color: #808080
}

.product-price{
    font-size: 2rem;
    font-weight: bold;
}

.product{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.products li{
    list-style-type: none;
    padding: 0;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem; 
    border-bottom: .1rem #c0c0c0 solid;
}

.product-image{
    max-width: 34rem;
    max-height: 34rem;
}

.product-rating{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/*Sidebar*/
.brand button{
    font-size: 3rem;
    padding: .5rem;
    background: none;
    border: none;
    color: white; 

}

.sidebar{
    font-family: 'Rubik', sans-serif ;
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem; 
    background-color: #0b1b2c;
    height: 100%;
    font-size: 2rem;
    font-weight: Bold;
    justify-content: center;
    align-items: center;
}

.sidebar li{
    list-style-type: none;
}

.sidebar.open{
    transform: translateX(0);
}

.sidebar-close-button{
    border-radius: 50%; 
    border: .1rem #000000; 
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    padding-top: 0;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 1.5rem;
}